body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #d57465; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    z-index: 1000;
  }
  
  .navbar-logo h1 {
    font-size: 2.5rem; 
    font-family: 'Georgia', serif; 
    color: #ffffff; 
    margin: 0;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links ul {
    list-style: none;
    display: flex;
    gap: 2.5rem; 
    margin: 0;
    padding: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem; 
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #ffd700; 
  }
  
  
.navbar-auth {
    display: none;
    margin-left: auto;
    gap: 1rem;
  }
  
  .login-button,
  .signup-button {
    background-color: #a4d005; 
    color: #171616; 
    border: none;
    padding: 0.8rem 1.5rem; 
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover,
  .signup-button:hover {
    background-color: #86a304; 
  }
  
 
  
  .hero-section {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 70px; 
  }
  
  .hero-image {
    width: 100%;
    height: auto;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
  }
  
  .hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero-text p {
    font-size: 1rem;
  }
  @media (max-width: 768px) {
    .navbar-logo h1 {
      font-size: 2rem;
    }
  
    .navbar-links a {
      font-size: 1rem;
    }
  
    .login-button,
    .signup-button {
      padding: 0.4rem 0.8rem;
      font-size: 0.9rem;
    }
   
    
    .hero-text h2 {
      font-size: 2rem;
    }
  
    .hero-text p {
      font-size: 0.9rem;
    }
  }
  